<footer class="footer">
  <div class="footer-links">
    <a (click)="onHome()">
      <i class="fa-solid fa-house"></i> Home
    </a>
    <a (click)="onAbout()">
      <i class="fa-solid fa-info-circle"></i> About
    </a>
    <a (click)="onContact()">
      <i class="fa-solid fa-envelope"></i> Contact
    </a>
    <a [href]="linkedIn">
      <i class="fa-brands fa-linkedin"></i> LinkedIn
    </a>
    <a [href]="faceBook">
      <i class="fa-brands fa-facebook"></i> FaceBook
    </a>
    <a href="mailto: marwanmagdy826@gmail.com">
      <i class="fa-solid fa-envelope"></i> marwanmagdy826&#64;gmail.com
    </a>
  </div>
  <p>&copy; Marwan Magdy Portfolio all rights reserved.</p>
</footer>
